@media only screen and (min-width: 870px){
    .logo{
        
        .sunny-logo{
            margin-left: -20rem;
            width: 170px;
        }

        img{
            margin-top: 0rem;
        }

        .hamburger{
            visibility: hidden;
        }

        
    }

   

    nav{
        opacity: 1;
        background-color: transparent;
        width: 30%;
        top: 0;
        
        .bubble{
            opacity: 0;
        }
        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            a{
                padding: 1rem 1.5rem;
                color: $--white !important;

                &:visited{
                    color: $--white !important;
                }

                &:hover{
                    color: black !important;
                    background-color: $--white;
                }
               
            }

            #focus{
                color: $--white;
                background-color: rgba(255, 255, 255, 0.25);
            }
        }
    }
    
    .title{
        padding-top: 5rem;
    }

    .transform{
        margin-top: 0rem;
        flex-direction: row-reverse;
        height: 100vh;
        
        img{
            width: 50%;
            height: auto;
        }

        .transform-text{
            margin-top: 5rem;
            justify-content: flex-start;
            text-align: left;
            margin: 5rem 5rem 0;
            height: 200vh;

            h2{
                margin-left: 2rem;
            }

            button{
                margin-left: 2rem;
            }
        }
    }

    .stand{
        margin-top: 0rem;
        flex-direction: row;

        img{
            width: 50%;
        }

        .stand-text{
            justify-content: flex-end;
            text-align: left;
            margin: 5rem 5rem 0;
            height: 200vh;

            h2{
                margin-left: 2rem;
            }

            button{
                margin-left: 2rem;
            }
        }
    }

    .graphic-photo{
        margin-top: -14rem;
        flex-direction: row;

        .graphic{
            background-size: 100%;

            h3{
                margin-top: 35rem;
                
            }

            p{
                margin: 2rem 7rem 0;
            }
    
        }

        .photo{
            background-size: 100%;

            h3{
                margin-top: 35rem;
            }

            p{
                margin: 2rem 7rem 0;
            }
        }
    }

    .clients{
        margin: -20rem 5rem 0;

        h4{
            font-size: 20px;
        }
        .clients-logos{
            display: flex;
            flex-direction: row;
        }
    }

    .gallery{
        grid-template-columns: repeat(4, 1fr);
    }

    footer{

        .list-footer{
        
            ul{
                justify-content: center ;
                gap: 5rem;
            }
        }
    }
}
