@media only screen and (min-width: 1600px){
    body{
        overflow-x: hidden;
    }
    
    .logo{
        
        .sunny-logo{
            margin-left: -30rem;
            width: 200px;
        }

        img{
            margin-top: 2rem;
        }

        .hamburger{
            visibility: hidden;
        }
    }

    .title{
        padding-top: 5rem;

        h1{
            margin-top: 2rem;
            font-size: 6rem;
        }

        img{
            width: 60px !important;
            height: auto;
            margin-top: 8rem !important; 
        }
    }

   

    nav{
        opacity: 1;
        background-color: transparent;
        width: 30%;
        top: 0;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            a{
                padding: 1rem 1.5rem;
            }
        }
    }
    

    .transform{
        margin-top: 0rem;
        flex-direction: row-reverse;
        height: 100vh;
        
        img{
            width: 50%;
            height: auto;
        }

        .transform-text{
            margin-top: 20rem !important;
            justify-content: flex-start;
            text-align: left;
            margin: 5rem 0rem 0;
            height: 200vh;
            width: 50%;

            h2{
                margin-left: 2rem; 
            }

            button{
                margin-left: 2rem;
            }
        }
    }

    .stand{
        margin-top: 0rem;
        flex-direction: row;

        img{
            width: 50%;
        }

        .stand-text{
            justify-content: flex-end;
            text-align: left;
            margin: 15rem 0rem 0;
            height: 200vh;
            width: 50%;

            h2{
                margin-left: 2rem;
            }

            button{
                margin-left: 2rem;
            }
        }
    }

    .graphic-photo{
        margin-top: -14rem;
        flex-direction: row;

        .graphic{
            background-size: 100%;

            h3{
                margin-top: 35rem;
                
            }

            p{
                margin: 2rem 7rem 0;
            }
    
        }

        .photo{
            background-size: 100%;

            h3{
                margin-top: 35rem;
            }

            p{
                margin: 2rem 7rem 0;
            }
        }
    }

    .clients{
        margin: -50rem 5rem 0;

        .clients-logos{
            display: flex;
            flex-direction: row;
        }
    }

    .gallery{
        grid-template-columns: repeat(4, 1fr);
    }

    footer{
        height: 50vh;
        .list-footer{
        
            ul{
                justify-content: center ;
                gap: 5rem;
                
                li{

                    a{
                        font-size: 2.5rem !important;
                    }
                }
            }
        }

        .socials{
            scale: 150%;
        }
    }

    h2{
        font-size: 4rem;
    }

    body{
        font-size: 30px;
    }
}
