.transform{

    button{
        background-color: transparent;
        border: none;
        line-height: 0.5rem;
        padding-top: 3rem;
        margin-bottom: 2.5rem;
        border-bottom: 8px solid $--yellow;
        width: 10rem;
        margin: auto;
        
    }
}

.stand{

    button{
        background-color: transparent;
        border: none;
        line-height: 0.5rem;
        padding-top: 3rem;
        margin-bottom: 2.5rem;
        border-bottom: 8px solid $--softRed;
        width: 10rem;
        margin: auto;
        
    }
}