/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 18px;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 2.7rem;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  color: hsl(0, 0%, 100%);
  line-height: 3.5rem;
}

h2 {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 3rem;
  color: hsl(212, 27%, 19%);
}

p {
  font-family: "Barlow", sans-serif;
  color: hsl(232, 10%, 55%);
  font-weight: bold;
  line-height: 2rem;
}

button {
  font-family: "Fraunces", serif;
  font-weight: bolder;
  font-size: 1.2rem;
}

h3 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  font-family: "Fraunces", serif;
  color: hsl(232, 10%, 55%);
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

h5 {
  font-family: "Fraunces", serif;
  font-weight: bolder;
  color: hsl(212, 27%, 19%);
}

h6 {
  font-family: "Barlow", sans-serif;
  font-weight: bolder;
  color: hsl(232, 10%, 55%);
  font-size: 0.9rem;
}

.transform button {
  background-color: transparent;
  border: none;
  line-height: 0.5rem;
  padding-top: 3rem;
  margin-bottom: 2.5rem;
  border-bottom: 8px solid hsl(51, 100%, 49%);
  width: 10rem;
  margin: auto;
}

.stand button {
  background-color: transparent;
  border: none;
  line-height: 0.5rem;
  padding-top: 3rem;
  margin-bottom: 2.5rem;
  border-bottom: 8px solid hsl(7, 99%, 70%);
  width: 10rem;
  margin: auto;
}

header {
  background-image: url("../../assets/storage/image-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
header .logo {
  display: flex;
  justify-content: space-around;
  gap: 8rem;
}
header .logo img {
  margin-top: 2rem;
}
header .logo button {
  background-color: inherit;
  border: none;
}
header .title {
  justify-content: center;
  text-align: center;
  margin-top: 3.5rem;
}
header .title img {
  width: 45px;
  margin-top: 3.3rem;
}

nav {
  margin-right: 2rem;
  line-height: 2rem;
  opacity: 0;
  position: absolute;
  right: -30px;
  top: 65px;
  background-color: hsl(198, 62%, 26%);
  border-radius: 20px;
  padding: 2rem;
  transition: ease-in 0.2s;
}
nav.visible {
  opacity: 1;
}
nav ul a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 0.5rem;
  border-radius: 25px;
}
nav ul a:visited {
  color: hsl(0, 0%, 100%);
}
nav ul a:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(198, 62%, 26%);
}

.transform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  margin-top: 3.8rem;
}
.transform img {
  width: 110%;
}
.transform h2 {
  margin-top: 3rem;
}
.transform p {
  margin-top: 3rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.stand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  margin-top: 12rem;
}
.stand img {
  width: 100%;
}
.stand h2 {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.stand p {
  margin-top: 3rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.graphic-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 180vh;
  margin-top: 10rem;
}
.graphic-photo .graphic {
  background-image: url("../../assets/storage/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 180%;
  width: 100%;
  height: 1000px;
}
.graphic-photo .graphic h3 {
  margin-top: 22rem;
  color: hsl(167, 40%, 24%);
}
.graphic-photo .graphic p {
  margin-top: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  color: hsl(167, 40%, 24%);
}
.graphic-photo .photo {
  background-image: url("../../assets/storage/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 180%;
  width: 100%;
  height: 1000px;
}
.graphic-photo .photo h3 {
  margin-top: 22rem;
  color: hsl(198, 62%, 26%);
}
.graphic-photo .photo p {
  margin-top: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  color: hsl(198, 62%, 26%);
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.clients h4 {
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.clients img {
  border-radius: 100%;
  width: 80px;
  margin: 2rem;
  margin-top: 3rem;
}
.clients p {
  color: hsl(212, 27%, 19%);
  margin-left: 3rem;
  margin-right: 3rem;
}
.clients h5 {
  margin-top: 2rem;
}
.clients h6 {
  margin-top: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
}
.gallery img {
  width: 100%;
}

footer {
  background-color: hsl(168, 34%, 41%);
  width: 100%;
  height: 70vh;
}
footer .logo-footer {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
footer .logo-footer svg {
  scale: 150%;
  color: hsl(167, 40%, 24%) !important;
  left: 30%;
  top: 4rem;
}
footer .list-footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5rem;
}
footer .list-footer ul li {
  list-style: none;
  color: hsl(167, 40%, 24%);
}
footer .list-footer ul li a {
  text-decoration: none;
  color: hsl(167, 40%, 24%);
  font-weight: bolder;
  font-size: 1.2rem;
}
footer .socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  padding-top: 6rem;
}
footer .socials svg {
  color: hsl(167, 40%, 24%) !important;
}

@media only screen and (min-width: 870px) {
  .logo .sunny-logo {
    margin-left: -20rem;
  }
  .logo img {
    margin-top: 2rem;
  }
  .logo .hamburger {
    visibility: hidden;
  }
  nav {
    opacity: 1;
    background-color: transparent;
    width: 30%;
    top: 0;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  nav ul a {
    padding: 1rem 1.5rem;
  }
  .title {
    padding-top: 5rem;
  }
  .transform {
    margin-top: 0rem;
    flex-direction: row-reverse;
    height: 100vh;
  }
  .transform img {
    width: 50%;
    height: auto;
  }
  .transform .transform-text {
    margin-top: 5rem;
    justify-content: flex-start;
    text-align: left;
    margin: 5rem 5rem 0;
    height: 200vh;
  }
  .transform .transform-text h2 {
    margin-left: 2rem;
  }
  .transform .transform-text button {
    margin-left: 2rem;
  }
  .stand {
    margin-top: 0rem;
    flex-direction: row;
  }
  .stand img {
    width: 50%;
  }
  .stand .stand-text {
    justify-content: flex-end;
    text-align: left;
    margin: 5rem 5rem 0;
    height: 200vh;
  }
  .stand .stand-text h2 {
    margin-left: 2rem;
  }
  .stand .stand-text button {
    margin-left: 2rem;
  }
  .graphic-photo {
    margin-top: -14rem;
    flex-direction: row;
  }
  .graphic-photo .graphic {
    background-size: 100%;
  }
  .graphic-photo .graphic h3 {
    margin-top: 35rem;
  }
  .graphic-photo .graphic p {
    margin: 2rem 7rem 0;
  }
  .graphic-photo .photo {
    background-size: 100%;
  }
  .graphic-photo .photo h3 {
    margin-top: 35rem;
  }
  .graphic-photo .photo p {
    margin: 2rem 7rem 0;
  }
  .clients {
    margin: -20rem 5rem 0;
  }
  .clients .clients-logos {
    display: flex;
    flex-direction: row;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  footer .list-footer ul {
    justify-content: center;
    gap: 5rem;
  }
}
@media only screen and (min-width: 1600px) {
  .logo .sunny-logo {
    margin-left: -30rem;
    width: 200px;
  }
  .logo img {
    margin-top: 2rem;
  }
  .logo .hamburger {
    visibility: hidden;
  }
  .title {
    padding-top: 5rem;
  }
  .title h1 {
    margin-top: 2rem;
    font-size: 6rem;
  }
  .title img {
    width: 60px !important;
    height: auto;
    margin-top: 8rem !important;
  }
  nav {
    opacity: 1;
    background-color: transparent;
    width: 30%;
    top: 0;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  nav ul a {
    padding: 1rem 1.5rem;
  }
  .transform {
    margin-top: 0rem;
    flex-direction: row-reverse;
    height: 100vh;
  }
  .transform img {
    width: 50%;
    height: auto;
  }
  .transform .transform-text {
    margin-top: 20rem !important;
    justify-content: flex-start;
    text-align: left;
    margin: 5rem 5rem 0;
    height: 200vh;
  }
  .transform .transform-text h2 {
    margin-left: 2rem;
  }
  .transform .transform-text button {
    margin-left: 2rem;
  }
  .stand {
    margin-top: 0rem;
    flex-direction: row;
  }
  .stand img {
    width: 50%;
  }
  .stand .stand-text {
    justify-content: flex-end;
    text-align: left;
    margin: 15rem 5rem 0;
    height: 200vh;
  }
  .stand .stand-text h2 {
    margin-left: 2rem;
  }
  .stand .stand-text button {
    margin-left: 2rem;
  }
  .graphic-photo {
    margin-top: -14rem;
    flex-direction: row;
  }
  .graphic-photo .graphic {
    background-size: 100%;
  }
  .graphic-photo .graphic h3 {
    margin-top: 35rem;
  }
  .graphic-photo .graphic p {
    margin: 2rem 7rem 0;
  }
  .graphic-photo .photo {
    background-size: 100%;
  }
  .graphic-photo .photo h3 {
    margin-top: 35rem;
  }
  .graphic-photo .photo p {
    margin: 2rem 7rem 0;
  }
  .clients {
    margin: -50rem 5rem 0;
  }
  .clients .clients-logos {
    display: flex;
    flex-direction: row;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  footer {
    height: 50vh;
  }
  footer .list-footer ul {
    justify-content: center;
    gap: 5rem;
  }
  footer .list-footer ul li a {
    font-size: 2.5rem !important;
  }
  footer .socials {
    scale: 150%;
  }
  h2 {
    font-size: 4rem;
  }
  body {
    font-size: 30px;
  }
}/*# sourceMappingURL=style.css.map */